<%- include('../partials/header') %>
<form id="new-form" action="/flights" method="POST">
    <label>Airline:</label><br>
    <input type="text" name="airline">
    <label>Airport:</label><br>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DIA">DIA</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
    <label>Flight Number:</label><br>
    <input type="number" name="flightNo">
    <label>Daparts At:</label><br>
    <input type="datetime-local" name="departs" value="<%-departsDate%>">
    <input type="submit" value="Add Flight">
</form>   

<%- include('../partials/footer') %>